{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/components/UI/(.*)$",
    "^@/pages/(.*)$",
    "^@/hooks/(.*)$",
    "^@/assets/(.*)$",
    "^@/api/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/validation/(.*)$",
    "^@/styles/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
